.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  background: #999;
  min-height: 100vh;
}

.window {
  background: #fff;
  width: 90vw;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}


.store-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


.toolbar-container {
  display: flex;
  height: 50px;
  margin-right: 30px;
  margin-top: 10px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.switch-button {
  display: flex;
  width: 50px;
  height: 50px;
  background: white;
  align-items: center;
}

.switch-icon {
  align-items: center;
  wigth: 40px;
  height: 40px;
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: white;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
}

.list-position {
  display: block;
  padding: 10px;
}

.card-position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-position::after {
  content: "";
  flex: auto;
}

.item-card {
  display: inline-block;
  margin: 10px;
  padding: 25px;
  background: #F5F5F5;
}

.item-list {
  display: flex;
  width: 84vw;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: #F5F5F5;
}

.card-name {
  font-size: 25px;
  text-align: center;
}

.card-color {
  text-align: center;
}

.card-img {
  align-items: center;
  wigth: 300px;
  height: 300px;
  
}

.item-img {
  align-items: center;
  wigth: 100px;
  height: 100px;
}

.footer-card {
  display: flex;
  justify-content: space-between;
}

.card-price {
  color: red;
  font-weight: 600;
}

.card-add {
  width: 100px;
  height: 25px;
  border: 1px solid red;
  border-radius: 25px;
  color: red;
  font-weight: 700;
  text-align: center;
}
